.banner {
  color: white;
  text-align: center;
}

.banner .card-img {
  width: 100%;
  height: 100%;
}

.banner h3 {
  padding-top: 0px;
}

.banner .card-text {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.banner .card-img-overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), transparent);
}
